apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
      - name: service-a
        image: REPLACE_IMAGE
        ports:
          - containerPort: 5001

---
apiVersion: v1
kind: Service
metadata:
  name: service-a
spec:
  type: NodePort
  selector:
    app: service-a
  ports:
    - port: 5001
      targetPort: 5001
      nodePort: 30001
